@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --default-font-family: var(--font-sans);
  --font-sans: Outfit, sans-serif;
  --color-background: #091413;
  --color-accent: #FF653F;
  --color-accent-dark: #FE3200;
}

:root {
  font-size: 16px;
}

.slide-up-in {
  animation: slideUpIn 0.5s ease-out forwards;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes slideUpIn {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
